services:
  stickynotes:
    container_name: stickynotes
    build:
      context: ..
      dockerfile: docker/Dockerfile
    restart: unless-stopped

    ports:
      - "${BIND_ADDR:-0.0.0.0}:${HOST_PORT:-8060}:8060"

    environment:
      DATA_DIR: /data
      CONFIG_DIR: /config
      APP_HOST: 0.0.0.0
      APP_PORT: "8060"
      TZ: Europe/Zurich

    volumes:
      - ${DATA_DIR_HOST:-/opt/stickynotes/notes}:/data
      - /opt/stickynotes/config:/config

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        tag: "stickynotes"
      # To use syslog instead, replace the above logging block with:
      # driver: "syslog"
      # options:
      #   syslog-address: "udp://localhost:514"
      #   tag: "stickynotes"


  rclone-sync:
    image: rclone/rclone:latest
    container_name: stickynotes-rclone
    restart: unless-stopped
    volumes:
      - ${DATA_DIR_HOST:-/opt/stickynotes/notes}:/data
      - ./rclone:/scripts:ro
    entrypoint: ["/bin/sh","/scripts/entrypoint.sh"]
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"
        tag: "stickynotes-rclone"

    depends_on:
      - stickynotes
